<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">index</a></li>
          <li><a href="#">Log out</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <h1>Edit item</h1>
        Name : <input type="text" name="name">
        Price: <input type="text" name="price">
        Image: <input type="url" name="imageUrl">
        <form action="/CHECK HERE" method="post">
          <button type="submit" name="button">Update</button>
        </form>
    </main>
  </body>
</html>
