<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <img src="/images/jewelry.jpeg" class="d-block w-100 styledCarouselImage" alt="Jewelry">
    </div>

    <div class="carousel-item" data-interval="6000">
      <img src="/images/shoppingBags.jpg" class="d-block w-100 styledCarouselImage" alt="Shopping Bags">
    </div>
    
    <div class="carousel-item" data-interval="5000">
      <img src="/images/watch.jpeg" class="d-block w-100 styledCarouselImage" alt="Watch">
    </div>
    
    <div class="carousel-item" data-interval="5000">
      <img src="/images/books.jpeg" class="d-block w-100 styledCarouselImage" alt="Books">
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>