    <footer>
      <div style="height: 80px; background-color: rgba(255,0,0,0.1);">
        <div class="text-center font-weight-bold pt-4">
          &copy 2019
        </div>
      </div>
    </footer>
  </body>
</html>
