    <footer>
        <div style="row height: 100px; background-color: black;">
          <div class="d-inline-block align-middle col-4 font-weight-bold text-light">
            Follow us on <i class="fab fa-github"></i>: 
            <a href="https://git.generalassemb.ly/seheesf88" class="offset-1"> SeHee </a>
            <a href="https://git.generalassemb.ly/AkshayMysore"  class="offset-1"> Akshay </a>
          </div>
          <div class="d-inline-block offset-4 col-4 text-center font-weight-bold text-light pb-3">
            &copy 2019
          </div>
        </div>

        <!-- <div class="container-fluid pb-5" style="row height: 100px; background-color: black;">
            <a href="https://github.com/twbs/bootstrap">GitHub</a>
            <a href="https://twitter.com/getbootstrap">Twitter</a>
            <a href="/docs/4.2/examples/">Examples</a>
            <a href="/docs/4.2/about/overview/">About</a>
       </div> -->
    </footer>
    <!-- Boostrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
