<header>
	<nav>
		<a href="/users/homepage"> View All Items </a>
		<a href="/auths/logout"> Logout </a>
		<a href="/users/orderhistory"> Order History </a>
		<a href="#"> Browser History </a>
		<a href="/users/profile"> Profile Page </a>
	</nav>
</header>
