<header>
	<nav class="site-header sticky-top py-0 mb-4" style="background-color: #6B6B6B;">
	  <div class="container d-flex flex-column flex-md-row justify-content-between">
	    <a class="py-0 nav-item" href="/admins/homepage"><img id="logo" src="/images/whiteLogo.png"></a>
	    <a class="py-0 mt-3 nav-item" href="/admins/new">Create Item</a>
	    <a class="py-0 mt-3 nav-item" href="/admins/profile">Profile</a>
	    <a class="py-0 mt-3 nav-item" href="/auths/logout">Logout</a>
	  </div>
	</nav>

</header>
