<header>
	<!-- <nav>
		<a href="/users/homepage"> View All Items </a>
		<a href="/auths/logout"> Logout </a>
		<a href="/users/orderhistory"> Order History </a>
		<a href="/users/profile"> Profile Page </a>
	</nav> -->

	<nav class="navbar navbar-expand-xl navbar-light" style="background-color: #D1D1D1;">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mx-auto">
					<li class="nav-item ml-5 mr-0">
							<a class="nav-link py-0" href="/users/homepage"><img id="logo" src="/images/xs-03.png"><span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item ml-0 mr-5">
							<a class="nav-link" href="/users/orderhistory">My Order</a>
					</li>
					<li class="nav-item mx-5">
							<a class="nav-link" href="/users/profile">Profile</a>
					</li>
					<li class="nav-item active mx-5">
							<a class="nav-link" href="/auths/logout">Logout</a>
					</li>
			</ul>
		</div>
	</nav>
</header>
