<header>
	<nav class="navbar navbar-expand-xl navbar-light" style="background-color: #D1D1D1;">
  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mx-auto">
      		<li class="nav-item ml-5 mr-0">
        			<a class="nav-link py-0" href="/admins/homepage"><img id="logo" src="/images/xs-03.png"><span class="sr-only">(current)</span></a>
      		</li>
      		<li class="nav-item ml-0 mr-5">
        			<a class="nav-link" href="/admins/new">Create Item</a>
      		</li>
					<li class="nav-item active mx-5">
							<a class="nav-link" href="/auths/logout">Logout</a>
					</li>
    	</ul>
  	</div>
	</nav>
</header>
