<header>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto mx-auto">
      		<li class="nav-item">
        			<a class="nav-link" href="/admins/homepage">Home <span class="sr-only">(current)</span></a>
      		</li>
      		<li class="nav-item">
        			<a class="nav-link" href="/admins/new">Create Item</a>
      		</li>
					<li class="nav-item active">
							<a class="nav-link" href="#">Logout</a>
					</li>
    	</ul>
  	</div>
	</nav>
</header>
