<% include partials/_head%>

	<!-- Login into accout -->
<div class="container">
	<div class="text-center mt-4">
			<h1>welcome to our app</h1>
	</div>
			<div class="row mb-4">
				<div class="col-md-4 offset-1 mt-5">
					<h2 class="mb-5"> Login </h2>
						<form action="/auths/login" method="POST">
  						<div class="form-group">
    							<label class="mb-0" for="exEmail">Email address</label>
    						<input type="email" name="loginEmail" required class="form-control" id="exEmail" aria-describedby="emailHelp" placeholder="Enter email">
  						</div>
  						<div class="form-group">
    						<label class="mb-0" for="exPassword">Password</label>
    					<input type="password" name="loginPassword" required class="form-control" id="exPassword" placeholder="Password">
  						</div>
							<div class="text-right">
  						<button type="submit" class="btn btn-primary">Log in</button>
							</div>
						</form>
				</div>
				<div class="col-md-4 offset-1 mt-5">
							<h2 class="mb-5 text-"> Register </h2>
							<form action="/auths/login" method="POST">
		  					<div class="form-group">
		    						<label class="mb-0" for="exampleInputEmail1">Email address</label>
		    					<input type="text" name="registerFN" placeholder="First Name" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
		  					</div>
		  					<div class="form-group">
		    					<label class="mb-0" for="exampleInputPassword1">Password</label>
		    					<input type="text" name="registerLN" placeholder="Last Name" required class="form-control" id="exampleInputPassword1">
		  					</div>
								<div class="form-group">
										<label class="mb-0" for="exEmail">Email address</label>
									<input type="email" name="registerEmail" required class="form-control" id="exEmail" aria-describedby="emailHelp" placeholder="Enter email">
								</div>
								<div class="form-group">
									<label class="mb-0" for="exPassword">Password</label>
								<input type="password" name="registerPassword" required class="form-control" id="exPassword" placeholder="Password">
								</div>
								<div class="text-right">
								<button type="submit" class="btn btn-primary">Register</button>
								</div>
						</form>
				</div>
		</div>
</div>


	<!-- Shows an error message if email already exists and has been registered or if the user info could not be found when they tried to log in-->
	<article>
		<h3> <%=message%> </h3>
	</article>

 <% include partials/_foot%>
