<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<!-- Login into accout -->
	<h2> Login </h2>
	<form>
		<input type="email" name="loginEmail" placeholder="Email">
		<input type="password" name="loginPassword" placeholder="Password">
		<button type="submit"> Login </button>
	</form>


	<!-- Register account -->
	<h2> Register </h2>
	<form>
		<input type="text" name="registerFN" placeholder="First Name">
		<input type="text" name="registerLN" placeholder="Last Name">
		<input type="email" name="registerEmail" placeholder="Email">
		<input type="password" name="registerPassword" placeholder="Password">
		<button type="submit"> Register </button>
	</form>
</body>
</html>