html {
  position: relative;
  min-height: 100vh;
}

body {
  margin-bottom: 140px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

.infoList{
  font-size: 25px;
  font-weight: bold;
}

.infoData{
  font-size: 25px;
}

.info {
  font-size: 22px;
}

.nav-item {
  font-size: 24px;
  color: rgba(0,0,0,.5);
}

.nav-item:hover {
  color: #333;
  text-decoration: none;
}

.top-section {
  height: 440px;
  background-color: rgba(255,0,0,0.1);
  background-image: url(images/temp-bg.jpg);
  background-size: cover;
  background-position-y: -200px;
  background-repeat: no-repeat;
}


#logo {
  /* height: 60px;
  width: 80%; */
  width: 250px;
}

.styledCarouselImage{
  height: 500px;
  width: 100%;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.picture{
  height: 200px;
  width: 200px;
}

.card-columns {
  column-count: 2;
}

@media screen (max-width: 800px) {
  .card-columns {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .card-columns {
    column-count: 1;
  }
}
