<% include ../partials/_head%>
<% include ../partials/_navbarAdmin%>
  <body>
    <main>
      <% for (let i = 0; i < items.length; i++){%>
        <ul>
          <li>
            <div>items[i].imageUrl</div><br/>
            <div>items[i].name</div><br/>
            <div>items[i].price</div><br/>
          </li>
          <button type="submit" name="button">detail</button>
        </ul>
    <%}%>
    </main>
  </body>
<% include ../partials/_foot%>
