<% include ../partials/_head%>
<% include ../partials/_navbarAdmin%>

<main>
	<form action="/admins/homePage" method="POST">
		Url: <input type="text" name="imageUrl"><br/>
		Name: <input type="text" name="name"><br/>
		Price: <input type="number" name="price"><br/>
		<button type="submit"> Create </button>
	</form>
</main>

<% include ../partials/_foot%>
