<% include ../partials/_head%>
<% include ../partials/_navbarAdmin%>

<main>
		<div class="container">
			<div class="text-center mt-4">
					<h1>Create new item</h1>
			</div>
					<div class="row mb-4">
						<div class="col-md-8 offset-2 mt-5">
							<form action="/admins/homePage" method="POST">
		  						<div class="form-group">
		    							<label class="mb-0" for="exName">Name</label>
		    							<input type="text" name="name" required class="form-control" id="exName" placeholder="item name">
		  						</div>
		  						<div class="form-group">
		    							<label class="mb-0" for="exPrice">Price</label>
		    							<input type="text" name="price" required class="form-control" id="exPrice" placeholder="price">
		  						</div>
									<div class="form-group">
											<label class="mb-0" for="exCategory">Category</label>
											<select name="category" required class="form-control" id="exCategory" placeholder="Category">
  											<option value="food">Food</option>
  											<option value="clotthing">Clothing</option>
  											<option value="electroics">Electronics</option>
  											<option value="funiture">Funiture</option>
												<option value="toy">Toy</option>
											</select>
									</div>
									<div class="form-group">
											<label class="mb-0" for="exlocation">Location</label>
											<input type="text" name="location" required class="form-control" id="exlocation" placeholder="City, State">
									</div>
									<div class="form-group">
											<label class="mb-0" for="exinStock">In stock</label>
											<!-- <input type="Number" name="delivery" required class="form-control" id="exinStock" placeholder="true"> -->
											<select name="inStock" required class="form-control" id="exinStock" placeholder="In Stock">
  											<option value="inStock">In Stock</option>
  											<option value="comingSoon">coming soon</option>
											</select>
									</div>
									<div class="form-group">
											<label class="mb-0" for="exUrl">Url</label>
											<input type="url" name="imageUrl" required class="form-control" id="exUrl" placeholder="url">
									</div>
									<div class="form-group">
											<label class="mb-0" for="exDiscription">Discription</label>
											<textarea name="discription" rows="8" cols="80" required class="form-control" id="exDiscription" placeholder="enter discription"></textarea>
									</div>
									<div class="text-center">
		  								<button type="submit" class="btn btn-primary">Create</button>
									</div>
								</form>
						</div>
		</main>

<% include ../partials/_foot%>
